.box-area {
  width: 794px;
  margin: auto auto auto auto;
  padding: 0px !important;
  line-height: 32px;
  position: relative;
  /* height: 1123px; */
}

.box {
  margin: 20px auto;
  width: 900px;
  background: #fff;
  padding: 18px;
  border: 1px solid #000000;
}

.box-area {
  position: relative;
}

.part {
  page-break-inside: avoid;
}


@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  html {
    padding: 0;
  }

  @page {
    size: A4;
    margin: 5mm;
  }

  .box-area {
    margin: 0 auto !important;
    border: 0 !important;
    box-shadow: none !important;
    height: 100%;
    width: 100% !important;
  }

  .box {
    margin: 0px !important;
    max-height: 100% !important;
    overflow: hidden;
    border: none !important;
    width: 100% !important;
    padding: 10px 0px 0px 0px !important;
  }
}

.box-area-pdf {
  margin: 0 auto !important;
  border: 0 !important;
  box-shadow: none !important;
  height: 100%;
  width: 100%;
}

.box-pdf {
  margin: 0px !important;
  max-height: 100% !important;
  /* overflow: hidden; */
  border: none !important;
  width: 100% !important;
  padding: 10px 0px 0px 0px !important;
}
